@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:300,400,500,600,700');
$colorDarkBrown: #28190f;
$colorBrown:#3d2614;
$colorDarkOrange:#ff6400;
$colorOrange:rgb(255, 144, 0);
$colorDarkYellow:#ffd000;
$colorYellow:#ffdf00;
$colorBeige:rgb(234, 225, 211);

a, h1, h2, h3, h4, h5, h6, p, span, li, input, button{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: $colorDarkBrown;
    margin: 0;
    text-decoration: none;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 16px;
}

span, p, button, li {
    font-weight: 500;
    font-size: 14px;
}
.grande {
    font-size: 40px;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: $colorBeige;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $colorBeige;
    }
    &::-webkit-scrollbar{
        width: 10px;
        background-color: $colorBeige;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $colorDarkBrown;
    }
    header {
        //background-image: url(../images/Banner.png);
        //background-size: cover;
        //background-repeat: no-repeat;
        width: 100%;
        height: 12vh;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
        a{
            margin-top: 60px;
            filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.5));
            img{
                width: 150px;
            }
        }
    }
    .banner{
        width: 100%;
        height: 68vh;
        img {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: -9;
        }
    }
    .promoBanner {
        //background-image: url(../images/promoBanner.png);
        //background-size: cover;
        //background-repeat: no-repeat;
        background: linear-gradient(115deg,$colorBrown 50%, #382110 50.1%,$colorBrown 70%);;
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5);
        .info{
            span{
                color: #ffffff;
                font-size: 14px;
            }
            h2{
                color: $colorYellow;
                margin: 0;
                font-size: 20px;
            }
        }
        .irAhora{
            margin-left: -70px;
            margin-right: 100px;
            padding: 8px 15px;
            font-size: 18px;
            font-weight: 600;
            color: $colorDarkBrown;
            background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
            text-align: center;
            border: none;
            outline: none;
            box-shadow: none;
            transition: all .15s ease;
            img{
                width: 20px;
                height: 14px;
                margin-left: 10px;
            }
            &:hover{
                background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }
    .tienda {
        width: 100%;
        height: 1800px;
        box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5);
        display: flex; 
        flex-direction: column;
        align-content: center;
        align-items: center;
        .title{
            margin: 25px 0 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            width: 75%;
            h1{
                font-size: 20px;
            }
            .cart{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;
                align-items: baseline;
                width: 150px;
                padding: 0 15px;
                position: relative;
                img{
                    width: 25px;
                }
                h2{
                    font-size: 20px;
                    display: inline;
                }
                span{
                    font-size: 12px;
                }
                &:hover{
                    .contenido{
                        display: flex; 
                    }
                }
                .contenido{
                    position: absolute;
                    width: 100%;
                    padding: 15px 0;
                    margin-left: -15px;
                    top: 100;
                    z-index: 100;
                    flex-direction: column;
                    align-items: center;
                    background: white;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                    display: none;
                    transition: all .25s ease;
                    &:hover{
                        display: flex;
                    }
                    span{
                        font-size: 16px;
                    }
                    h2{
                        margin-top: 10px;
                        font-size: 34px;
                    }
                    div{
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;
                        button{
                            box-sizing: border-box;
                            margin-top: 0%;
                            margin-bottom: 5px;
                            border: none;
                            width: 100%;;
                            outline: none;
                            font-weight: 600;
                            padding: 8px 8px;
                            background: $colorBeige;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                            transition: all .25s ease;
                            &:hover {
                                background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .content{
            width: 85%;
            display: flex;
            align-content: center;
            align-items: flex-start;
            .filtros{
                flex: 20% 0 0;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                padding-right: 15px;
                padding-bottom: 15px;
                a{
                    width: 100%;
                }
                input, button {
                    box-sizing: border-box;
                    margin-top: 0%;
                    border: none;
                    width: 100%;;
                    outline: none;
                    padding: 8px 15px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                }

                button {
                    
                    padding: 8px;
                    background: white;
                    font-weight: 600;
                    font-size: 14px;
                    margin-top: 8px;
                    transition: all .15s ease;
                    &:hover {
                        background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                        cursor: pointer;
                    }
                }

                .activo{
                    background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                }

                article{
                    border-top: solid 1px $colorDarkBrown;
                    width: 100%;
                    margin-top: 15px;
                    transition: all .25s ease;
                    div{
                        margin: 0 auto;
                        width: 90%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;
                        button{
                            transition: all .25s ease;
                        }
                        img{
                            width: 18px;
                            transition: all .25s ease;
                            transform: rotate(180deg);
                        }
                        h2{ 
                            font-size: 16px;
                            margin: 10px 0 0;
                            font-weight: 600;
                            text-align: center;
                        }
                        &:hover {
                            h2{
                                font-weight: 700;
                            }
                        }
                    } 
                }
                .contraido{
                    button {
                        display: none; 
                    }
                    img{
                        transform: rotate(0deg);
                    }
                }
                
            }

            .items{
                flex: 80% 0 0;
                display: flex;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                border-left: 1px solid rgba(61, 38, 20, 0.2);
                .producto{
                    background: white;
                    box-sizing: border-box;
                    flex: 22.5% 0 0;
                    margin: 0% 0 2.5% 2.5%;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    transition: all .25s ease;
                    padding: 0;
                    img{
                        margin: 10% 20%;
                        width: 80%;
                    }
                    .name{
                        margin-bottom: 10%;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .info{
                        position: absolute;
                        opacity: 0%;
                        height: 100%;
                        width: 100%;
                        justify-content: space-evenly;
                        filter: opacity(0%);
                        transition: all .25s ease;
                        h1{
                            font-size: 22px; 
                        }
                        h2{
                            font-size: 20px;
                        }
                        span{
                            font-size: 14px;
                            margin-top: 5px;
                        }
                        .unidades{
                            font-size: 12px;
                        }
                        a{
                            width: 100%;
                        }
                        button {
                            box-sizing: border-box;
                            margin-top: 2%;
                            border: none;
                            width: 100%;
                            outline: none;
                            padding: 8px 15px;
                            background: white;
                            font-weight: 500;
                            font-size: 16px;
                            transition: all .25s ease;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                            &:hover {
                                background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                                cursor: pointer;
                            }
                        }
                        
                    }
                    &:hover{
                        background: $colorBeige;
                        top: 0;
                        left: 0;;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                        transform: scale(1.03,1.03);
                        .info {
                            filter: opacity(100%)
                        }
                        img{
                            filter: opacity(5%)
                        }
                        .name{
                            filter: opacity(0%)
                        }
                    }
                }
            }
        }

        .producto{
            width: 70%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: flex-start;
            justify-content: flex-start;            
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            padding: 20px 50px 20px 20px;
            background: #fff;
            .imagen{
                box-sizing: border-box;
                flex: 40% 0 0;
                height: 100%;;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;
               
                img{
                    width: 220px;
                }
            }
            .caracteristicas{
                box-sizing: border-box;
                flex: 60% 0 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: flex-start;
                padding: 0 10px;
                h1, h2, h3{
                    margin-bottom: 20px;
                }
                h2, h3 {
                    font-weight: 500;
                }
                p{
                    width: 80%;
                    line-height: 20px;
                    text-align: justify;
                    font-size: 16px;
                    padding-bottom: 20px;
                }
                div{
                    width: 250px;
                    align-self: center;
                    button {
                        box-sizing: border-box;
                        margin-top: 0%;
                        border: none;
                        width: 100%;
                        outline: none;
                        padding: 8px 15px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                        padding: 8px;
                        background:$colorYellow;
                        font-weight: 600;
                        font-size: 17px;
                        transition: all .15s ease;
                        &:hover {
                            background: linear-gradient(135deg, $colorYellow 0%,$colorOrange 100%);
                            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                            cursor: pointer;
                        }
                    } 
                }
            }
        }
    }
    .lista {
            display: flex;
            align-content: center;
            align-items: center;
            width: 80%;
            justify-content: space-between;
            flex-wrap: wrap;
        li{
            list-style: none;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            padding: 20px 50px 20px 20px;
            background: #fff;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            margin-bottom: 20px;
            img {
                margin-right: 20px;
            }
            div {
                width: 290px;
                article {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    h2{
                        font-weight: 400;
                    }
                }
                h1 {
                    margin-bottom: 10px;
                }
                h2 {
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

footer {
    //background-image: url(../images/footer.png);
    //background-size: cover;
    //background-repeat: no-repeat;
    background: $colorBrown;
    width: 100%;
    height: 20vh;
}