@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
p,
a,
button {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    h1 {
        font-size: 3em;
    }
    canvas {
        margin: 0;
        padding: 0;
        border: solid 5px #000;
        border-radius: 25px;
        box-shadow: 0 0 50px rgba(17, 17, 17, 0.44);
    }
    #juego {
        overflow: hidden;
        box-sizing: border-box;
        padding: -5px;
    }
    div {
        margin-top: -250px;
        z-index: 999;
        a {
            padding: 20px 70px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 50px;
            box-shadow: 0 4px 10px rgba(17, 17, 17, 0.4);
            text-decoration: none;
            color: #000;
            font-weight: 600;
        }
    }
}