@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i');
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
p,
a,
button {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin: 0;
    color: #28190f;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    p {
        font-size: 1.5em;
        margin-bottom: 4px;
    }
    span {
        margin-bottom: 10px;
    }
    canvas {
        margin: 0;
        padding: 0;
        border: solid 5px #000;
        border-radius: 25px;
        box-shadow: 0 0 50px rgba(17, 17, 17, 0.44);
    }
    #juego {
        overflow: hidden;
        box-sizing: border-box;
        padding: -5px;
    }
    div {
        margin-top: -620px;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        .resultado {
            margin: 25px;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }
        a {
            background: #ffdf00;
            padding: 15px 60px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 50px;
            box-shadow: 0 2px 5px rgba(17, 17, 17, 0.4);
            text-decoration: none;
            font-weight: 600;
            font-size: 1.5em;
            transition: all 0.2s ease;
            &:hover {
                background: #ff9000;
                cursor: pointer;
                box-shadow: 0 4px 15px rgba(17, 17, 17, 0.5);
            }
        }
    }
}